[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fabisearch"]
	path = fabisearch
	url = https://github.com/mondrus96/fabisearch
